# Documentation
documentation/wiki/
documentation/pages/

# Built classes
jpf-core/build/
jpf-shell/build/
jpf-inspector/build/
jpf-symbc/build

# IDE-specific
intellij-project-output/
.idea/workspace.xml

# Grammar
jpf-inspector/src/main/gov/nasa/jpf/inspector/client/parser/generated/ConsoleGrammar*
jpf-inspector/src/main/gov/nasa/jpf/inspector/server/expression/generated/ExpressionGrammar*

# Mercurial
*/.hg/*

# Simple distribution
HelloWorld/*.class
simple-distribution
