# Documentation
documentation/wiki/
documentation/pages/

# Miscellaneous
core8/.version
core8/file
core8/lib/

# Built classes
core8/build/
jpf-shell/build/
jpf-inspector/build/
core6/build/


# IDE-specific
intellij-project-output/
.idea/workspace.xml
*workspace.xml

# Grammar
jpf-inspector/src/main/gov/nasa/jpf/inspector/client/parser/generated/ConsoleGrammar*
jpf-inspector/src/main/gov/nasa/jpf/inspector/server/expression/generated/ExpressionGrammar*